.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 60px;
  background-color:#292929;
  padding: 0px;
}

.App-intro {
  font-size: large;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
*:focus {
  outline: none;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smooth: auto;
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}


button {
  margin-bottom: 20px;
  margin-right: 20px;
  width:80%;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
  background: #a01624;
  float: right;
}

button:hover,
button:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

.dropzone {
  float: right;
  padding-right:25%;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #a01624;
  color: #a01624;
  transition: 0.2s ease;
}

input[type="submit"], input[type="reset"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #a01624;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus, 
input[type="reset"]:hover,
input[type="reset"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}


#root {
  min-height: 100%;
  float: left;
  width: 100%;
  position:relative;
  padding-bottom: 50px;
}

.footer {
  left: 0;
  position:absolute;
  bottom: 0;
  width: 100%;
  background-color:#292929;
  text-align: center;
  margin-bottom: 0;
  clear: both;
  right: 0;
  height:50px;
  padding: 0px 20px;
}


.auth-links {
  float: right;
  color: #333;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 15px;
  font-size: 12px;
}

.auth-links a:link, a:visited {
  color: #d0d0d0
}

.activity {
  height: 280px;
  border-bottom: 1px solid;
  margin-bottom: 20px;
  z-index: 2;
}

.activity-info {
  float: left;
  padding-left: 20px;
  width: 50%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.box {
  width: 50%;
  z-index: 2;
}

#close-button {
  padding : 15px 30px 14px 30px;
  margin  : 5px auto;
  display : block;
  text-align: center;
  width:100%;
  margin:0;
  -moz-border-radius: 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}

.details a {
  color: #FFF;
}

.details > header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  background: inherit;
  background-attachment: fixed;
  overflow: hidden;
}

.details > label::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 200%;
  height: 200%;
  background: inherit;
  background-attachment: fixed;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.details > label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4)
}

#full-width {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width:100%;
  text-decoration:  none;
  padding-top: 50px;
}

.home {
  width: 100%;
}

.home img {
  width:100%;
}

.image-setup{
  width:100%;
}

.interests-box {
  width: 50%;
  max-width: 500px;
  grid-column: col 1 / span 4 ;
  grid-row: row 2 ;
  margin-top: 200px;
}
.interests-box input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 100%;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
/*  font-size: 20px;*/
  transition: 0.2s ease;
}

.interests-box input[type="submit"], input[type="reset"] {
  width:100%;
}

.interests-button {
  margin-top: 20px;
  font-size: 20px;
  margin-right: 10%;
}

.itineraries {
  width: 100%;
  position: relative;
  height: 700px;
  max-width: 1000px;
  margin-left: auto; 
  margin-right: auto;
  grid-column: col 3 / span 2 ;
  grid-row: row ;
}

.itinerary-column {
  margin-top: 100px;
}

.itinerary-column h1{
  padding-bottom: 50px;
}

.list-images {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.list-images img{
  width: 40%;
  border-radius: 25px;
  max-height: 300px;
  float: left;
  text-align: left;
}

.logo {
  float: left;
}

#login-box {
  position: relative;
  margin: 5% auto;
  width: 300px;
  height: 400px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
}

.map-box {
  grid-column: col 3 / span 2 ;
  grid-row: row ;
  width: 100%;
  position: relative;
  height: 500px;
  
}

.mini-image img{
  border-radius: 5px;
  width:30px;
}

.mini-image {
  float: left;
}

.mini-wrapper {
  display: flex;
  flex-wrap: wrap; 
  width: 100%;
  max-width: 1000px; 
  margin: 0 auto;
}

.modal-activity-info {
  float: right;
  margin-right: 20%;
}

.modal-images img{
  width: 30%;
  border-radius: 25px;
  max-height: 250px;
  float: left;
  text-align: left;
}

.modal-images {
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: left;
  margin-left:20%;
}

.module > label > h1 {
  margin: 0;
  color: white;
  position: relative;
  z-index: 1;
}

.pad-button {
  margin-top: 10px;
}

.pad-button button{
  margin-right: 0px;
  width: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.parent-trip {
  width: 300px;
  height: 400px;
  float:left;
  margin: 10px;
  position: relative;
  overflow:hidden;

}

.profile-image {
  width:100%;
}

.trip {
  margin: 5% auto;
  width: 300px;
  height: 400px;
  background-color: black;
  padding: 40px;
  color: white;
  background-size: cover;
}

.parent-trip:hover .trip:hover,
.parent-trip:focus .trip:focus {
  transform: scale(1.2);
  transition: all .5s;
}

.profile-image {
  float: left;
}

.profile-image img {
  width:50%;
}

#react-modal h1, h2, h3{
  text-align: center;
}
  
.ReactModal__Overlay--after-open {
  z-index: 10;
}

.ReactModal__Content {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.react-selectize-control {
  height:100px;
}

.row {
  width:500px;
  height:500px;
}


.save-button button {
  width: 300px;
  font-size: 20px;
  padding: 20px;
  padding-bottom: 40px;

}

.save-button {
  position: fixed;
  top: 100px;
  z-index: 2;
  right: 0;
}

#search-map {
  padding-top: 50px;
  position: relative;
  height: 500px;
}

.search-box {
  width: 100%;
  padding: 30px;
  grid-column: col / span 2;
  grid-row: row ;
}

.Select {
  position: relative;
}
.Select,
.Select div,
.Select input,
.Select span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Select.is-disabled > .Select-control {
  background-color: #f9f9f9;
}
.Select.is-disabled > .Select-control:hover {
  box-shadow: none;
}
.Select.is-disabled .Select-arrow-zone {
  cursor: default;
  pointer-events: none;
  opacity: 0.35;
}
.Select-control {
  background-color: #fff;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
  cursor: default;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 36px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.Select-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.Select-control .Select-input:focus {
  outline: none;
}
.is-searchable.is-open > .Select-control {
  cursor: text;
}
.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #fff;
  border-color: #b3b3b3 #ccc #d9d9d9;
}
.is-open > .Select-control .Select-arrow {
  top: -2px;
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}
.is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text;
}
.is-focused:not(.is-open) > .Select-control {
  border-color: #C32E3C;
  box-shadow: inset 0 1px 1px rgba(0.075, 0, 0, 0), 0 0 0 3px rgba(255, 0, 0, 0.1);
}
.Select-placeholder,
.Select--single > .Select-control .Select-value {
  bottom: 0;
  color: #aaa;
  left: 0;
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.has-value.is-clearable.Select--single > .Select-control .Select-value {
  padding-right: 42px;
}

.has-value.Select--single > .Select-control .Select-value a.Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label {
  cursor: pointer;
  text-decoration: none;
}

.Select-input {
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.Select-input > input {
  width: 100%;
  background: none transparent;
  border: 0 none;
  box-shadow: none;
  cursor: default;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  outline: none;
  line-height: 14px;
  /* For IE 8 compatibility */
  padding: 8px 0 12px;
  /* For IE 8 compatibility */
  -webkit-appearance: none;
}
.is-focused .Select-input > input {
  cursor: text;
}
.has-value.is-pseudo-focused .Select-input {
  opacity: 0;
}
.Select-control:not(.is-searchable) > .Select-input {
  outline: none;
}
.Select-loading-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 16px;
}
.Select-loading {
  -webkit-animation: Select-animation-spin 400ms infinite linear;
  -o-animation: Select-animation-spin 400ms infinite linear;
  animation: Select-animation-spin 400ms infinite linear;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-right-color: #333;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.Select-clear {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
}
.Select--multi .Select-clear-zone {
  width: 17px;
}

.Select--multi .Select-multi-value-wrapper {
  display: inline-block;
}
.Select .Select-aria-only {
  display: inline-block;
  height: 1px;
  width: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  float: left;
}
@-webkit-keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Select-menu-outer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top-color: #FFFFFF;
  box-shadow: 0 1px 0 rgba(0.06, 0, 0, 0);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}

.Select-menu {
  max-height: 198px;
  overflow-y: auto;
  padding-bottom: 10px;
}
.Select-option {
  box-sizing: border-box;
  background-color: #fff;
  color: #666666;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}
.Select-option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.Select-option.is-selected {
  background-color: #ff242f;
  color: #333;
}
.Select-option.is-focused {
  background-color: #d9d9d9;
  color: #333;
}
.Select-option.is-disabled {
  color: #cccccc;
  cursor: default;
}
/*.Select-noresults {
  box-sizing: border-box;
  color: #999999;
  cursor: default;
  display: block;
  padding: 8px 10px;
}*/
.Select--multi .Select-input {
  vertical-align: middle;
  margin-left: 10px;
  padding: 0;
}
.Select--multi.has-value .Select-input {
  margin-left: 5px;
}
.Select--multi .Select-value {
  background-color: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #a01624;
  color: #C32E3C;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.4;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: top;
}
.Select--multi .Select-value-icon,
.Select--multi .Select-value-label {
  display: inline-block;
  vertical-align: middle;
}
.Select--multi .Select-value-label {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: default;
  padding: 2px 5px;
}
.Select--multi a.Select-value-label {
  color: #C32E3C;
  cursor: pointer;
  text-decoration: none;
}
.Select--multi a.Select-value-label:hover {
  text-decoration: underline;
}
.Select--multi .Select-value-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid #FFBDBF;
  padding: 1px 5px 3px;
}
.Select--multi .Select-value-icon:hover,
.Select--multi .Select-value-icon:focus {
  background-color: #FFD6D9;
  color: #0071e6;
}
.Select--multi .Select-value-icon:active {
  background-color: #FFBDBF;
}
.Select--multi.is-disabled .Select-value {
  background-color: #fcfcfc;
  border: 1px solid #e3e3e3;
  color: #333;
}
.Select--multi.is-disabled .Select-value-icon {
  cursor: not-allowed;
  border-right: 1px solid #e3e3e3;
}
.Select--multi.is-disabled .Select-value-icon:hover,
.Select--multi.is-disabled .Select-value-icon:focus,
.Select--multi.is-disabled .Select-value-icon:active {
  background-color: #fcfcfc;
}
@keyframes Select-animation-spin {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
  }
}

#shuffle-button {
  padding-top: 5%;
}

.trips {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 15%;
}

.weather {
  padding-right: 20%;
  padding-left: 20%;
  padding-top: 75px;
  padding-bottom: 100px;
}

.welcome {
  grid-column: col / span 2;
  grid-row: row ;
  width: 50%;
  max-width: 500px;
  margin-top: 190px;
}

#welcome-name {
  font-size: 30px;
  padding-bottom:10px;
}

.wi {
  font-size: 50px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  grid-gap: 10px;
  grid-template-columns: [col] 100px [col] 100px [col] 100px [col] 100px  ;
  grid-template-rows: [row] auto [row] auto [row] ;
  background-color: #fff;
  color: #444;
  margin: 0 auto;
}

.x-button button {
  width: 25px;
  margin-right:10px;
}

.a {
  grid-column: col / span 2;
  grid-row: row ;
}

.b {
  grid-column: col 3 / span 2 ;
  grid-row: row ;
}

.c {
  grid-column: col 1 / span 4 ;
  grid-row: row 2 ;
}
