.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#full-width {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width:100%;
  text-decoration:  none;
  padding-top: 50px;
}

#left-half {
  width: 50%;
  float: left;
}

#right-half {
  width: 40%;
  float: right;
}

.logo {
  float: left;
}

.auth-links {
  float: right;
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

.list-images img{
  width: 40%;
}

.food {
  float: left;
}

.itinerary {
  float: right;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#login-box {
  position: relative;
  margin: 5% auto;
  width: 300px;
  height: 400px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
}


h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}


#search-box {
  position: relative;
  margin: 5% auto;
  width: 300px;
  height: 400px;
  background: #FFF;
  border-radius: 2px;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
}

.activity {
  width: 100%;
  position: relative;
}

.App-header {
  height: auto;
  padding-bottom: 20px;
  border-bottom-color: black;
}

#activity {
  float:left;
  margin: 5% auto;
  width: 300px;
  height: 400px;
  background: #FFF;
  border-radius: 2px;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
   
#top-section {
  float:left;
  width: 100%;
}

#bottom-section{
  float: left;
  width: 100%;
  padding-left: 100px;
}

button {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

button:hover,
button:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

.pad-button {
  margin-top: 10px;
}

